abhishek.mp4
anmol.mp4
parth.mp4
vaibhav.mp4
data/anmol.npy
data/vaibhav.npy
data/daa/abhinav.npy
data/daa/anmol.npy
data/daa/chayan.npy
data/daa/GAURAV.npy
data/daa/gitika.npy
data/daa/parth .npy
data/daa/vaibhav.npy
data/new_data/anmol.npy
data/new_data/parth.npy
data/new_data/samriddhi.npy
data/new_data/shelly garg.npy
data/new_data/vaibhav.npy
data/sam/abhishek.npy
data/sam/anmol.npy
data/sam/parth.npy
data/sam/vaibhav.npy
test_data/1.jpg
test_data/2.jpg
test_data/3.jpg
